// Variables
$blue_base: #002b36;
$white_base: #fdf6e3;
$white_base_dark: #dad5c3;
$blue: #268bd2;
$blue_dark: #0072b6;

$font_base: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_code: 14px Menlo, Monaco, Consolas, "Lucida Console", monospace;

$max_width: 1024px;

$h0: 96px;
$h1: 80px;
$h2: 64px;
$h3: 48px;
$h4: 32px;

$margin_top: $h0;

// Mixins
@mixin border-radius($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-uneven($tl, $tr, $br, $bl) {
  -moz-border-radius-topleft: $tl;
  -moz-border-radius-topright: $tr;
  -moz-border-radius-bottomright: $br;
  -moz-border-radius-bottomleft: $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}
