@import 'config';

#dashboard, #splash {

  margin-top: $margin-top;

  h1 {
    font-size: 80px;
    font-weight: bold;
  }

  h3 {
    font-size: 64px;
    font-weight: bold;
  }

  a {
    border-bottom-width: 4px;
  }
}
