// Here be site-wide CSS.

@import 'config';

// CSS
body {
  max-width: $max_width;
  color: $blue;
  background-color: $white_base;
  background: url(background.png) repeat;
  font: $font_base;
  margin: 0 auto 32px auto;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;

  &:hover {
    color: $blue_dark;
    border-bottom: 2px dotted;
  }
}

h1, h2, h3 {
  margin-bottom: 16px;
}

h1 {
  font-size: $h1;
  font-weight: bold;
}

h2 {
  font-size: $h2;
  font-weight: bold;
}

h3 {
  font-size: $h3;
  font-weight: bold;
}
