// Place all the styles related to the Splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#splash {
  font-size: 80px;
  font-weight: bold;
  margin-top: 92px;
}
