// Place all the styles related to the Splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#splash {
  max-width: 1024px;
  font-size: 80px;
  font-weight: bold;
  margin: 128px auto 0 auto;
}
